<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="widget">
                    <div class="footer-text text-center">
                        <a href="http://pccoer.com/nss.php"  target="_blank"><img src="/images/version/NSS_BG_LOGO.png" alt="SPPU NSS PCCOE&R" class="img-fluid"/></a>
                        <!--class="img-fluid"-->
                        <p>Savitribai Phule Pune University<br/>NATIONAL SERVICE SCHEME<br/>PIMPRI CHINCHWAD EDUCATION TRUST's<br/>Pimpri Chinchwad College Of Engineering & Research</p>
                        <div class="social">
                            <a href="https://www.facebook.com/pccoerpune"   target="_blank" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/nss_pccoer/?igshid=1qh83u742bsdo"  target="_blank" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                            
                        </div>

                        <hr class="invis">

                        <!--<div class="newsletter-widget text-center">
                            <form class="form-inline">
                                <input type="text" class="form-control" id="subs1" placeholder="Enter your email address">
                                <button type="button" class="btn btn-primary" id="subs">Subscribe <i class="fa fa-envelope-open-o"></i></button>
                            </form>
                        </div> end newsletter -->

                    </div><!-- end footer-text -->
                </div><!-- end widget -->
            </div><!-- end col -->
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <br>
                <br>
                <div class="copyright">&copy; NSS PCCOE&R <a href="http://pccoer.com/nss.php"  target="_blank">Website Article</a>.</div>
            </div>
        </div>
    </div><!-- end container -->
</footer><!-- end footer -->

<div class="dmtop">Scroll to Top</div>

</div><!-- end wrapper -->

<!-- Core JavaScript
================================================== -->
<script src="/js/jquery.min.js"></script>
<script src="/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/subs.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/en-gb.js"></script>
</body>
</html>
