<style>
    .grid { 
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-gap: 20px;
      align-items: center;
      }
    .grid img {
      border: 1px solid #ccc;
      box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
      max-width: 100%;
    }

    .grid:hover .overlay01 {
  opacity: 0.5;
}




    </style>

<div class="box">
    <h3>Activity Gallery:</h3>
    <div id="imagesID" class="grid"> <!--container-->
        <!--<div class="overlay01">
            <div class="text"><%=data[0].title%></div>
        </div> -->
    </div>
    
</div>        
<script>
            var fetchdata;
            var wait=1;
            fetch('/getImg')
            .then(function(res){
                return res.json();
            })
            .then(function(obj){
                fetchdata=obj;
            })
            .catch(function(error){
                console.log('Error, Data not fetched');
                console.log(error)
            });
            fetch_N_process_DATA();
            
            function fetch_N_process_DATA() {
            setTimeout(function(){ 
                processData(fetchdata);
            }, 1000*wait);
            function processData(fetchdata){
                //console.log(fetchdata.IMGdata);
                var picstring=fetchdata.IMGdata;
                //console.log(picstring.toString());
                //console.log(picstring.length);
                //var pics=picstring.split(','); 
                pics=picstring;                    
                //console.log("EJS: "+pics);
                for(i=0;i<pics.length;i++){
                    var img=new Image(200,200);
                    img.src='/../'+pics[i];
                    //console.log(pics[i]);
                    //console.log(img.src);
                    var source=document.getElementById("imagesID");
                    source.appendChild(img);
                }
            }
            
            }
</script>
