<!--"/blog/addarticle"-->
<form action="/photos"
      id="uploadForm"
      method="post" 
      enctype="multipart/form-data">

        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label col-form-label-lg"><%=data[0].title%></label>
        </div>

        <div class="form-group row">
            <label for="file" class="col-sm-2 col-form-label col-form-label-lg">NSS Activity Images</label>
            <div class="col-sm-7">
                <!--IMAGE UPLOAD DURING ADDING DATA TO NEW BLOG-->
                <input type="file" class="form-control form-control-lg" name="userPhoto"  multiple  placeholder="col-form-label-lg" required>
            </div>
        </div>

        <div class="text-center">
            <!--<button type="submit" class="btn btn-success btn-lg" >Submit</button>-->
            <input type="submit" class="btn btn-success btn-lg"value="Upload Activity Images" name="submit">
        </div>
        <span id = "status"></span>
</form>





<!--MULTIPLE FILES UPLOAD CODE-->
<!--SCRIPTS-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
<script>
$(document).ready(function(){                              
$('#uploadForm').submit(function(){
    $("#status").empty().text("File is uploading...");                              
    $(this).ajaxSubmit({                              
        error: function(xhr){
            status('Error: ' + xhr.status);
        },                              
        success: function(response){
            console.log(response)
            $("#status").empty().text(response);
        }
        });                              
    return false;
});    
});
</script>
<!--END SCRIPTS-->