<%-include("../partial/header")-%>
<%-include("../partial/errors")-%>
<div style="margin-top:25px; width:auto; margin-left: 15%;margin-bottom:25px;"  class="text-center">
 <form action="/user/login" method="post">
      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
        <div class="col-sm-7">
            <input type="text" class="form-control form-control-lg" name="email" placeholder="enter email">
          </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label col-form-label-lg">Password</label>
        <div class="col-sm-7">
            <input type="password" class="form-control form-control-lg" name="password" placeholder="enter password">
          </div>
      </div>
      <div class="text-center"><button type="submit" class="btn btn-success btn-lg">Login</button></div>
 </form>
</div>
<%-include("../partial/footer")-%>